<template>
    <div>
        <side-bar></side-bar>
        <router-view></router-view>
    </div>
</template>

<script>
import SideBar from "../../components/Common/SideBar";
export default {
    components: { "side-bar": SideBar },
};
</script>

<style></style>
