<template>
    <div class="signup_container">
        <div class="heading_container">
            <h1 class="heading">{{ pageContent.heading }}</h1>
        </div>
        <div class="form_container">
            <button-component @click.prevent="submit">
                <font-awesome-icon :icon="['fab', 'google']" />
            </button-component>
            <line-text><span class="split_text">or</span></line-text>
            <form class="form">
                <input-component
                    v-if="page === 'signup'"
                    @change="nameCheck"
                    label="Name"
                />
                <input-component @change="emailCheck" label="Email" />
                <input-component label="Password" type="password" />
                <input-component
                    v-if="page === 'signup'"
                    label="Confirm Password"
                    type="password"
                />
                <div class="login_button_container">
                    <button-component
                        @click.prevent="submit"
                        class="button_container"
                        :loading="loading"
                    >
                        <font-awesome-icon :icon="['fa', 'arrow-right']" />
                    </button-component>

                    <router-link
                        v-if="page === 'login'"
                        :to="{ name: 'ForgetPassword' }"
                        class="signin_link forgot_password_text"
                    >
                        Forgot Password?
                    </router-link>
                </div>
            </form>
            <span class="login_text"
                >Already a member?
                <router-link :to="pageContent.to" class="signin_link">{{
                    pageContent.router
                }}</router-link></span
            >
        </div>
    </div>
</template>
<style scoped>
.login_button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signup_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5% 10%;
}

.form_container {
    width: 60%;
}
.login_text {
    display: inline-block;
    margin-top: 2rem;
    font-size: 0.8rem;
}

.split_text {
    color: grey;
    font-size: 1rem;
}

.login_button_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form {
    width: 100%;
}

.signin_link {
    color: var(--primary);
}
.heading {
    border-left: 0.3rem solid var(--primary);
    padding-left: 1rem;
}

.forgot_password_text {
    font-size: 0.9rem;
    text-decoration: none;
}
@media screen and (max-width: 480px) {
    .signup_container {
        width: 80%;
    }

    .form_container {
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
    .signup_container {
        width: 80%;
    }

    .form_container {
        width: 100%;
    }
}
</style>
<script>
import InputComponent from "@/components/ui/Input";
import ButtonComponent from "@/components/ui/Button";
import LineWithTextComponent from "@/components/ui/LineWithText";
export default {
    components: {
        "input-component": InputComponent,
        "button-component": ButtonComponent,
        "line-text": LineWithTextComponent,
    },
    data() {
        return {
            page: "",
            loading: false,
            form: [
                {
                    label: "Name",
                    placeholder: "Your Name",
                    errors: [],
                },
                {
                    label: "Email",
                    placeholder: "Email",
                    errors: [],
                    type: "password",
                },
                {
                    label: "password",
                    placeholder: "Password",
                    errors: [],
                    type: "password",
                },
            ],
        };
    },
    computed: {
        formIsValid() {
            return this.form.some((ele) => ele.errors.length > 0);
        },
        pageContent() {
            if (this.page == "signup")
                return {
                    heading: "Sign Up",
                    router: "Sign In",
                    to: { name: "Login" },
                };
            else
                return {
                    heading: "Login",
                    router: "Sign up",
                    to: { name: "Signup" },
                };
        },
    },
    methods: {
        nameCheck(value) {
            console.log(value, "From Name");
        },
        emailCheck(value) {
            console.log(value, "Email Check ");
        },
        submit() {},
    },
    watch: {
        $route: {
            immediate: true,
            handler(to) {
                if (to.path == "/signup") this.page = "signup";
                else this.page = "login";
            },
        },
    },
};
</script>
