<template>
    <div class="reset_password_container">
        <div class="image_container"></div>
        <div class="email_container">
            <div class="heading_container">
                <h1 class="heading">Reset Password</h1>
            </div>
            <span class="email_text"
                >Enter the email associated with your account and we'll send an
                email with instructions to reset your password</span
            >
            <form class="form_container">
                <input-component label="Email" />
                <button-component
                    @click.prevent="submit"
                    class="button_container"
                    :loading="loading"
                >
                    <font-awesome-icon :icon="['fa', 'arrow-right']" />
                </button-component>
            </form>
        </div>
    </div>
</template>
<script>
import InputComponent from "@/components/ui/Input";
import ButtonComponent from "@/components/ui/Button";

export default {
    components: {
        "input-component": InputComponent,
        "button-component": ButtonComponent,
    },
    data() {
        return {
            email: "",
        };
    },
};
</script>
<style scoped>
.reset_password_container {
    display: flex;
    align-items: center;
    height: 85vh;
    padding: 5% 10%;
}
.email_container {
    flex: 1;
}
.heading {
    border-left: 0.3rem solid var(--primary);
    padding-left: 1rem;
}
.image_container {
    width: 50%;
}
.form_container {
    margin-top: 1rem;
    width: 80%;
}
.button_container {
    margin-top: 2rem;
}

@media screen and (max-width: 480px) {
    .image_container {
        display: none;
    }
    .reset_password_container {
        width: 80%;
    }

    .form_container {
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
    .reset_password_container {
        width: 80%;
    }
    .image_container {
        display: none;
    }
    .form_container {
        width: 100%;
    }
}
</style>
