<template>
    <div class="sidebar_container" :class="sidebarClass">
        <side-bar-element
            to="/test"
            :icon="['fa', 'arrow-alt-circle-left']"
            title="Home"
        ></side-bar-element>
        <nav class="nav_bar">
            <side-bar-element
                to="/dashboard"
                :icon="['fa', 'home']"
                title="Home"
            ></side-bar-element>
            <side-bar-element
                to="/dashboard/users"
                :icon="['fa', 'user-friends']"
                title="Members"
            ></side-bar-element>
            <side-bar-element
                to="/dashboard/stats"
                :icon="['fa', 'chart-pie']"
                title="Stats"
            ></side-bar-element>
            <side-bar-element
                to="/dashboard/releases"
                :icon="['fa', 'user-friends']"
                title="Releases"
            ></side-bar-element>
            <side-bar-element
                to="/dashboard/settings"
                :icon="['fa', 'sliders-h']"
                title="Settings"
            ></side-bar-element>
        </nav>
        <div
            @click="updateClose"
            class="navigation_element nav_common close_sidebar"
        >
            <div class="icon">
                <font-awesome-icon
                    class="icon_box"
                    :icon="['fa', 'chevron-circle-right']"
                    fixed-width
                    :class="{ rotate_arrow: !isClosed }"
                />
            </div>
            Close
        </div>
    </div>
</template>

<script>
import SideBarElementVue from "./SideBarElement.vue";
export default {
    components: { "side-bar-element": SideBarElementVue },
    data() {
        return {
            isClosed: true,
        };
    },
    methods: {
        updateClose() {
            this.isClosed = !this.isClosed;
        },
    },
    computed: {
        sidebarClass() {
            return this.isClosed ? "closed" : "opened";
        },
    },
};
</script>

<style>
.sidebar_container {
    font-size: 0.85rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0.5rem;
    top: 2rem;
    height: 90vh;
    background-color: rgb(250, 249, 249);
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all ease 0.2s;
}

.closed {
    width: 3.4rem;
}

.opened {
    width: 12rem;
}

.rotate_arrow {
    transform: rotate(-180deg);
}
.navigation_list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.close_sidebar {
    margin-top: auto;
    margin-bottom: 2rem;
}

.back_to_home {
    background-color: rgb(216, 214, 214);
}

.nav_bar {
    padding-top: 0.5rem;
}
</style>
