<template>
    <router-link class="navigation_element nav_common" :to="to">
        <div class="icon">
            <font-awesome-icon class="icon_box" :icon="icon" fixed-width />
        </div>
        {{ title }}</router-link
    >
</template>

<script>
export default {
    props: ["to", "icon", "title"],
};
</script>

<style>
.navigation_element {
    text-decoration: none;
    white-space: nowrap;
    color: black;
    border-left: 0.2rem solid transparent;
}

.nav_common {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
    padding: 0.75rem 1rem 0.75rem;
}

.icon_box {
    display: "inline-block";
    width: 2rem;
}

.navigation_element:hover {
    background-color: var(--secondary);
}

.router-link-exact-active {
    border-left: 0.2rem solid var(--primary);
}
</style>
