<template>
    <router-view />
</template>
<script>
export default {
    name: "App",
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
    --primary: #f44336;
    --secondary: #f8b7b1;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app {
    font-family: Roboto, sans-serif;
}

.heading_container {
    margin-bottom: 2rem;
}

.input_label {
    font-size: 0.75rem;
    margin: 0.8rem 0rem;
}

.email_text {
    font-size: 0.9rem;
    color: #333333;
}
</style>
