<template>
    <button class="button-class">
        <slot v-if="!loading"></slot>
        <span v-else>Loading</span>
    </button>
</template>

<script>
export default {
    props: ["variant", "loading"],
    data() {
        return {};
    },
    computed: {
        btnClass: "button-class",
    },
};
</script>

<style scoped>
.button-class {
    padding: 1.1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
</style>
