<template>
    <div class="input_container">
        <label class="input_label" :for="label">{{ label }}</label>
        <input
            class="input_box"
            :type="type"
            :id="label"
            :name="label"
            :placeholder="placeholder"
            :v-model="input"
            @change="validate"
        />
    </div>
</template>

<script>
export default {
    emits: ["change"],
    data() {
        return {
            input: "",
        };
    },
    methods: {
        validate() {
            this.$emit("change", this.input);
        },
    },
    props: { label: String, placeholder: String, type: { default: "text" } },
};
</script>

<style scoped>
.input_container {
    display: flex;
    flex-direction: column;
}

.input_box {
    padding: 0.7rem;
    background-color: rgb(238, 238, 247);
    border-radius: 5px;
    outline: none;
    border: none;
    letter-spacing: 0.1rem;
}
</style>
