<template>
    <h2 class="line_style">
        <span class="span_text"><slot></slot></span>
    </h2>
</template>
<script>
export default {
    data() {
        return {};
    },
};
</script>
<style>
.line_style {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
    line-height: 0.1em;
}

.span_text {
    background-color: white;
    padding: 1rem;
}
</style>
